<div id="signUp" class="modal signup fade">
    <form class="form-horizontal css-form" novalidate>
        <fieldset>
            <legend>Sign Up
                <a href="#" class="close pull-right" data-dismiss="modal">×&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </legend>
            <div class="loginForm">
                <span class="control-group">
                    <label class="control-label">Your Name</label>
                    <input ng-model="userDisplayName" type="text" id="signupName" 
                           placeholder="Your name" required></input>
                </span>
                <span class="control-group">
                    <label class="control-label">Username</label>
                    <input ng-model="username" type="text" id="signupUsername" 
                           placeholder="Username" required></input>
                </span>
                <span class="control-group">
                    <label class="control-label">Password</label>
                    <input ng-model="password" type="password" id="signupPassword" 
                           placeholder="Password" required></input>
                </span>
                <div class="pull-right">
                    <a href="#" data-dismiss="modal" type="submit" 
                       class="btn btn-primary" ng-click="signUp()">Sign Up</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
