<div id="topNav" class="navbar navbar-fixed-top ng-cloak">
    <div class="navbar-inner">
        <ul class="nav" ng-controller="User">
            <a class="homeLink" href="./"><img class="navlogo" width="32" height="32" src="/images/logo.svg"/>Thingamabob</a>
            <li>
                <a href="../{{user.name}}/surveys.html">
                    My Surveys
                </a>
            </li>
            <li>
                <a href="../{{user.name}}/newsurvey.html">
                    New Survey
                </a>
            </li>
            <li>
                <a href="../{{user.name}}/tracking.html">
                    Time Tracking
                </a>
            </li>
            <li>
                <a href="../{{user.name}}/time.html">
                    Add Time
                </a>
            </li>
        </ul>
        <span class="pull-right">
            <ul class="nav">
                <li>
                    <span class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style='border-width: 0px; background-image: none; background-color: rgba(255,255,255,0);'>
                            <i class="icon-cog">&nbsp;</i>{{user.displayName}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/users/{{user.name}}/profile.html">Settings</a></li>
                            <li><a ng-click='logout()' href="#">Logout</a></li>
                        </ul>
                    </span>                        
                </li>
            </ul>
        </span>
    </div>
</div>
<div class='loading infoBox' ng-show='loading'>
    <img src='/images/loading-large-transparent.gif' align="right" width='66' height='66'></img>
</div>
<div class='row'>
    <div class="alert alert-error infoBox" ng-show='problem'>
        <button class="close pull-right" ng-click="clear()">x</button>
        <i class="icon-exclamation-sign" ></i>
        <span ng-bind-html-unsafe="problem">
            {{problem}}
        </span>
    </div>
    <div class="alert alert-success infoBox" ng-show='success'>
        <button class="close pull-right" ng-click="clear()">x</button>
        <i class="icon-ok"></i>
        <span ng-bind-html-unsafe="success">
            {{success}}
        </span>
    </div>
</div>
<!--<div id="login-holder">
    <div id="loginbox">
        <div id="login-inner" ng:controller="LoginController">
            Note: there is no need to enter any credentials.<br>&nbsp;
            <form ng-submit="submit()">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Username</th>
                        <td><input type="text" class="login-inp" ng-model="username"/></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" class="login-inp" ng-model="password"/></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><input type="submit" class="submit-login"/></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>-->
