@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway-Thin'), url('fonts/raleway.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat'), url('fonts/Montserrat.woff') format('woff');
}

@font-face {
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 100;
    src: local('Sanchez'), url('fonts/sanchez.woff') format('woff');
}

@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 100;
    src: local('Questrial'), url('fonts/Questrial.woff') format('woff');
}

@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans Mono'), local('DroidSansMono'), url('fonts/droid-sans.woff') format('woff');
}

@font-face {
    font-family: 'Anonymous';
    font-style: normal;
    font-weight: normal;
    src: local('Anonymous'), local('Anonymous'), url('fonts/Anonymous.woff') format('woff');
}

@font-face {
    font-family: 'AnonymousBold';
    font-style: normal;
    font-weight: normal;
    src: local('AnonymousBold'), local('AnonymousBold'), url('fonts/AnonymousBold.woff') format('woff');
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local('Karla'), local('Karla-Regular'), url('fonts/karla.woff') format('woff');
}

h1 {
    font-family: 'Montserrat';
    color: #88AA88;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2em;
    color: #88AA88;
}

h3 {
    font-family: 'Montserrat';
    color: #88AA88;
}

h4 {
    font-family: 'Montserrat';
    color: #88AA88;
}
.navbar {
    font-family: 'Karla';
}

.btn {
    font-family: 'Karla';
}

.well h2 {
    color: #119900;
}

.well h3 {
    color: #119900;
}

.well h4 {
    color: #119900;
}

body {
    font-family: 'Montserrat', 'Verdana', 'Trebuchet MS', 'Arial';
    line-height: 1.65em;
    color: #114400;
    background-repeat: repeat;
    background-image: url('/images/pat5.png');
    height: 100%;
    width: 100%;
}

.oauths {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: #CCCCCC solid 1px;
}

.signup {
    border-left: #CCCCCC solid 1px;
    padding-left: 1em;
}

.logins {
    min-height: 10em;
}

body.waiting-for-angular div#content-outer {
    display: none;
}
body.waiting-for-angular div#initializing-panel {
    display: block;
    background: url(../images/loading-large-transparent.gif) center center no-repeat;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#loginbox {
    margin:1em;
}

.modal {
    width:80%;
    left: 10%;
    position: absolute;
    margin: 0px;
}

.screen {
    background-color: rgba(150, 150, 150, 0.5);
    z-index: -100000;
    position:fixed;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}

.logoButton {
    min-height: 26px;
    min-width: 32px;
    margin-top: 1em;
    vertical-align: middle;
    text-align: center;
}

.logoButton img {
    height: 100%;
    vertical-align: middle;
}

.modal-wide h3 {
    width: 100%;
    text-align: center;
}

.addTime h4 {
    display: inline-block;
}

.bootstrap-timepicker {

}

.controlRow {
    margin-left: 2em;
}

.controlRow input {

}

.ui-show {
    color: blue;
    display: none;
    transition: all 0.5s ease;
}

.ui-hide {
    opacity: 0;
    transition: all 0.5s ease;
}

.infoBox {
    display: block;
    position: absolute;
    top: 3.25em;
    left: 3em;
    right: 3em;
}

.loginForm {
}

.filler {
    height: 3.5em;
}

.loginButton {
    float: right;
    bottom: 0;
}

.loginForm div {
    margin-top: 1.5em;
    margin-right: 1.5em;
}

.mainPage {
    vertical-align: middle;
    height: 100%;
}

.mainPage h1 {
    margin-bottom: 1em;
    text-align: middle;
}

.mainlogin {
    margin-top: 3em;
}

.loginForm label {
    margin-top: 0.5em;
}

.loginForm input {
    margin-top: 0.5em;
}

.signup legend {
    padding-left: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.miniForm input {
    vertical-align: bottom;
}

.errorBox {
    margin-top: 1em;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
    /*    background-image: url('images/loading-large-transparent.png'); */
}

.homeLink img {
    margin-right: 0.5em;
}

.rowButton {
    vertical-align: middle;
    margin-top: 0.5em;
}

.section {
    min-height: 15em;
}

.aling {
    vertical-align: baseline;
}
.aling input {
    width: 60%;
}

.userItem {
    border: solid 1px #898989;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: #CCFFCC;
    margin-right: 0.5em;
    display: inline-block;
}

.userItem span {
    display: inline;
    height: auto;
    float: none;
    margin-top: 0.4em;
}

.qhead {
    vertical-align: middle;
    display:block;
    margin-bottom: 1em;
}
.qhead h4 {
    display: inline-block;
    margin-top: 0.2em;
}
.qhead a {
    margin-top: 1em;
}
.qhead h2 {
    display: inline-block;
}

.homeLink {
    font-family: 'Questrial';
    font-size: 1.6em;
    /*color: #000000;*/
    text-shadow: none;
    margin-top: 0.25em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    float: left;
}
.contentBody {
    margin-top: 6.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.mainlogo {
    text-align: center;
    margin-bottom: 2em;
}

.navbar .nav > li > a {
    padding-top: 0.0em;
    padding-bottom: 0.0em;
    vertical-align: middle;
    margin-top: 0.75em;
}

a {
    color: #30566f;
}

.controls {
    position: fixed;
    top: 6em;
    right: 5em;
    background-color: white;
}

.question {
    padding-left: 2em;
    vertical-align: middle;
}

.questionContainer {
    width: 50%;
}

.questionRow {
    vertical-align: middle;
    display: inline-block;
}

.questionRow input {
    margin-bottom: 0px;
}

.questionRow select {
    margin-bottom: 0px;
}

.control-label {
    margin-right: 1em;
}

.form-horizontal .control-label {
    width: 120px;
}

.questionText {
    margin-bottom: 0.5em;
    color: #117400;
    display: inline-block;
}

.help {
    font-size: 0.8em;
}

.survey {
    margin-left: 4em;
    margin-top: 2em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.well {
    /*background-color: rgba(68, 133, 107, 0.0525);*/
    background-color: rgba(223, 173, 87, 0.0525);
}

.synopsis {
    display: inline;
}

.footer {
    color: #BBBBBB;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    min-height: 20px;
}

.hero-unit {
    vertical-align: middle;
}

.footer a {
    color: #8888FF;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FfDFDF;
}
.css-form input.ng-valid.ng-dirty {
    background-color: #DFFFDF;
}

.navbar-inner {
    font-family: 'Questrial';
}

.loading {
    position: fixed;
    right: 0.5em;
    top: 4em;
    z-index: 10;
}

pre {
    border: 1px dotted #444444;
    overflow: auto;
    font-family: 'Anonymous';
    font-kerning: none;
    padding: 1em;
    letter-spacing: 0.1em;
    color: #882222;
    background-color: rgba(68, 107, 133, 0.125);
}

.commentCredit {
    color: #7F7F6F;
}

code {
    color: #553300;
    font-family: 'Anonymous';
    font-kerning: none;
    font-size: 1.1em;
    background: transparent;
    border: none;
}

textarea {
    font-family: 'Anonymous';
    letter-spacing: 0.1em;
}

.widgets {
    border-left: solid 1.75em rgba(255, 255, 255, 0.0);
    margin-top: 0.7em;
    text-align: left;
    color: #222218;
}

.input-verysmall {
    width: 3em;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #339922;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44AA33), to(#339922));
    background-image: -webkit-linear-gradient(top, #44AA33, #339922);
    background-image: -o-linear-gradient(top, #44AA33, #339922);
    background-image: linear-gradient(to bottom, #44AA33, #339922);
    background-image: -moz-linear-gradient(top, #44AA33, #339922);
    background-repeat: repeat-x;
    border-color: #339922 #339922 #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff44AA33', endColorstr='#ff339922', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #339922;
    *background-color: #003bb3;
}
