@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway-Thin'), url('fonts/raleway.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat'), url('fonts/Montserrat.woff') format('woff');
}

@font-face {
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 100;
    src: local('Sanchez'), url('fonts/sanchez.woff') format('woff');
}

@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 100;
    src: local('Questrial'), url('fonts/Questrial.woff') format('woff');
}

@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans Mono'), local('DroidSansMono'), url('fonts/droid-sans.woff') format('woff');
}

@font-face {
    font-family: 'Anonymous';
    font-style: normal;
    font-weight: normal;
    src: local('Anonymous'), local('Anonymous'), url('fonts/Anonymous.woff') format('woff');
}

@font-face {
    font-family: 'AnonymousBold';
    font-style: normal;
    font-weight: normal;
    src: local('AnonymousBold'), local('AnonymousBold'), url('fonts/AnonymousBold.woff') format('woff');
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local('Karla'), local('Karla-Regular'), url('fonts/karla.woff') format('woff');
}

h1 {
    font-family: 'Montserrat';
    color: #88AA88;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2em;
    color: #88AA88;
}

h3 {
    font-family: 'Montserrat';
    color: #88AA88;
}

h4 {
    font-family: 'Montserrat';
    color: #88AA88;
}
.navbar {
    font-family: 'Karla';
}

.btn {
    font-family: 'Karla';
}

.well h2 {
    color: #119900;
}

.well h3 {
    color: #119900;
}

.well h4 {
    color: #119900;
}

body {
    font-family: 'Montserrat', 'Verdana', 'Trebuchet MS', 'Arial';
    line-height: 1.65em;
    color: #114400;
    background-repeat: repeat;
    background-image: url('/images/pat5.png');
    height: 100%;
    width: 100%;
}

.ui-show {
    color: blue;
    display: none;
    transition: all 0.5s ease;
}

.ui-hide {
    opacity: 0;
    transition: all 0.5s ease;
}

.loginForm {
}

.filler {
    height: 3.5em;
}

.loginButton {
    float: right;
    bottom: 0;
}

.loginForm div {
    margin-top: 1.5em;
    margin-right: 1.5em;
}

.mainPage {
    vertical-align: middle;
    height: 100%;
}

.mainPage h1 {
    margin-bottom: 1em;
    text-align: middle;
}

.mainlogin {
    margin-top: 3em;
}
.loginForm label {
    margin-top: 0.5em;
}

.loginForm input {
    margin-top: 0.5em;
}

.signup legend {
    padding-left: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.miniForm {
    font-size: 0.5;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
    margin-bottom: 0.5em;
}

.miniForm a {
    vertical-align: bottom;
}

.miniForm input {
    vertical-align: bottom;
}

.errorBox {
    margin-top: 1em;
}

.eventMessages {
    margin: 0.5em;
    overflow: auto;
}

.controlButtons {
    text-align: right;
    margin-top: 0.35em;
}

.videoTitle {
    text-transform: capitalize;
    display: inline;
}

.eventsMinimized a{
    color: #FFFFDD;
}
.eventsMinimized {
    font-family: 'Questrial';
    font-size: large;
    background-color: #888888;
    color: #FFFFDD;
    position: fixed;
    right: 0.5em;
    bottom: 0em;
    width: auto;
    height: auto;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: middle;
}

.videos {
    width: 100%;
}

.videoRow {

}

.videoTitle {
    font-weight: bolder;
}

.videoTitleRow {
    margin-bottom: 0.5em;
}

.previewContainer {
    overflow: auto;
    width: available;
}

.thumbnailDetail {
    margin: 1em;
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
}

.thumbnailDetail img {
    vertical-align: middle;
    margin: 0.5em;
    text-align: center;
}

.videoDetail {
    font-size: 0.85em;
}

.videoPreviews {
    width: 2840px;
    display: inline-block;
    background-color: #DDDDDD;
    padding-left: 0.5em;
    /*padding: 0.5em;*/
}

.videoPreviews img {
    display: inline;
    width: 160px;
    height: 90px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#serverLog {
    width: 80%;
    left: 10%;
    height: 90%;
    top: 5%;
}

.log {
    height: available;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.logStatus {
    font-size: 0.8em;
    padding-left: 2px;
    text-align: left;
}


.logFooter {
    bottom: 0;
    float: none;
    width: 97%;
    position: absolute;
    /*width: 98%;*/
    display: inline-block;
    /*left: 10%;*/
}

.statusItem {
    margin-right: 3em;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
    /*    background-image: url('images/loading-large-transparent.png'); */
}

.formrow {
    width: 100%;
    text-align: right;
}

.homeLink img {
    margin-right: 0.5em;
}

.homeLink {
    font-family: 'Questrial';
    font-size: 1.6em;
    /*color: #000000;*/
    text-shadow: none;
    margin-top: 0.45em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    float: left;
}
.contentBody {
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
}

.mainlogo {
    text-align: center;
    margin-bottom: 2em;
}

.navbar .nav > li > a {
    padding-top: 0.0em;
    padding-bottom: 0.0em;
    vertical-align: middle;
    margin-top: 1.2em;
}

a {
    color: #30566f;
}

.header {
    font-size: 16px;
    text-decoration: none;
    border-width: 0px;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-origin: border-box;
    width: 1112px;
    height: 211px;
    vertical-align: bottom;
}

.controls {
    position: fixed;
    top: 6em;
    right: 5em;
    background-color: white;
}

.question {
    padding-left: 2em;
    vertical-align: middle;
}

.questionContainer {
    width: 50%;
}

.questionRow {
    vertical-align: middle;
    display: inline-block;
}

.questionRow input {
    margin-bottom: 0px;
}

.questionRow select {
    margin-bottom: 0px;
}

.control-label {
    margin-right: 1em;
}

.questionText {
    margin-bottom: 0.5em;
    color: #117400;
    display: inline-block;
}

.help {
    /*margin-left: 2em;*/
    font-size: 0.8em;
    /*float: right;*/
}

.survey {
    margin-left: 4em;
    margin-top: 2em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.well {
    background-color: rgba(68, 133, 107, 0.0525);
}

.synopsis {
    display: inline;
}

.footer {
    color: #BBBBBB;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    min-height: 20px;
}

.hero-unit {
    vertical-align: middle;
}

.footer a {
    color: #BBBBFF;
}

.logo {
    opacity: 0.20;
    z-index: -1;
    margin-bottom: 5em;
    position: absolute;
    left: 50em;
    top: 100%;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FfDFDF;
}
.css-form input.ng-valid.ng-dirty {
    background-color: #DFFFDF;
}
.noComments {
    display: none;
}
.comments {
    display : block;
}

.navbar-inner {
    font-family: 'Questrial';
}

.loading {
    position: fixed;
    right: 0.5em;
    top: 4em;
    z-index: 0;
}

pre {
    border: 1px dotted #444444;
    overflow: auto;
    font-family: 'Anonymous';
    font-kerning: none;
    padding: 1em;
    letter-spacing: 0.1em;
    color: #882222;
    background-color: rgba(68, 107, 133, 0.125);
}

.commentCredit {
    color: #7F7F6F;
}

code {
    color: #553300;
    font-family: 'Anonymous';
    font-kerning: none;
    font-size: 1.1em;
    background: transparent;
    border: none;
}

textarea {
    font-family: 'Anonymous';
    letter-spacing: 0.1em;
}

.widgets {
    border-left: solid 1.75em rgba(255, 255, 255, 0.0);
    margin-top: 0.7em;
    text-align: left;
    color: #222218;
}

.widget {
    /*    background-color: #dfdfdc; */
}

.widget_iframe {
    font-family: 'Karla';
    width: 95%;
    height:40em;
}

.contentBody li {
    margin-bottom: 1em;
}
