<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
<html lang="en">
    <head>
        <title>Surveys</title>
        <meta name="DC.author" content="Tim Boudreau" />
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/default.css" rel="stylesheet">
        <link href="/js/jquery-ui/css/smoothness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
        <!--[if lte IE 8]>
            <script>
            // The ieshiv takes care of our ui.directives, bootstrap module directives and
            // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
            // However, IF you have custom directives (yours or someone else's) then
            // enumerate the list of tags in window.myCustomTags

            window.myCustomTags = [ 'yourDirective', 'somebodyElsesDirective' ]; // optional
            </script>
            <script src="/js/angular-ui-ieshiv.min.js"></script>
        <!--[if lte IE 8]>
          <script>
            document.createElement('ng-app');
            document.createElement('ng-repeat');
            document.createElement('ng-show');
            document.createElement('ng-controller');
            document.createElement('ng-click');
     
            // Optionally these for CSS
            document.createElement('ng:include');
            document.createElement('ng:pluralize');
            document.createElement('ng:view');
          </script>
        <![endif]-->          

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/ico/favicon.ico"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png"/>
        <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png"/>
    </head>
    <body ng-app="surveys" ng-controller="Status">
        <div ng-controller="User">
            <ng-include src="'/partials/topNav.html'"></ng-include>
        </div>
        <div class='contentBody' ng-controller="UserProfile">
            <div class="row">
                <div class="span5 well section">
                    <form class="form-horizontal css-form">
                        <div>
                            <input ng-click="save()" type="submit"
                                   ng-disabled ="!user.displayName || user.displayName.length < 3"
                                   class="btn btn-primary pull-right rowButton"
                                   value="Save"></input>
                            <h3>Basic Info</h3>
                        </div>
                        <div class="control-group">
                            <b class='span2' style='text-align: right'>
                                User Name
                            </b>
                            &nbsp;&nbsp;
                            <span ng-repeat="name in user.name">
                                <span>{{name}}</span>
                            </span>
                        </div>
                        <div class="control-group">
                            <b class='span2' style='text-align: right'>
                                Signed Up
                            </b>
                            &nbsp;&nbsp;
                            <span>{{user.date | date}}</span>
                        </div>
                        <div class="control-group">
                            <label class='control-label span2'>
                                Display Name
                            </label>
                            <input type="text" ng-model="user.displayName"></input>
                        </div>
                    </form>
                </div>
                <div class="span5 well section">
                    <div>
                        <input ng-click="changePassword()" type="submit"
                               ng-disabled ="!user.displayName || user.displayName.length < 3"
                               class="btn btn-primary rowButton pull-right"
                               value="Change"></input>
                        <h3>Password</h3>
                    </div>
                    <form class="form-horizontal css-form">
                        <div class="control-group">
                            <label class='control-label span2'>
                                New Password
                            </label>
                            <input type="password" ng-model="password"></input>
                        </div>
                        <div class="control-group">
                            <label class='control-label span2'>
                                Repeat New Password
                            </label>
                            <input type="password" ng-model="repeatPassword"></input>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="span5 well section">
                    <form>
                        <div>
                            <input ng-click="authorize()" type="submit"
                                   class="btn btn-primary pull-right"
                                   value="Add"></input>
                            <h3>I Share With</h3>
                        </div>
                        <div class="aling">
                            <input type="text" class="span5 pull-left" auto-complete 
                                   placeholder="Search for a name..."
                                   id="addUserName"
                                   ui-items="users" ng-model="selected"></input>
                        </div>
                        <div>
                            <div class="userItem" ng-repeat="friend in user.authorizes">
                                {{userForId[friend]}}&nbsp;<span class="close" ng-click="deauthorize(friend)">x</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span5 well section">
                    <div>
                        <h3>Who Shares With Me</h3>
                    </div>
                    <div>
                        <div class="userItem" ng-repeat="sharer in sharers">
                            {{sharer.displayName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <ng-include src='"/partials/bottom.html"'></ng-include>

    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap-modal.min.js"></script>
    <script src="/bootstrap/js/bootstrap-dropdown.min.js"></script>
    <script src="/js/jquery-ui/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular/angular-cookies.min.js"></script>
    <script src="/js/angular-ui.js"></script>
    <script src="/angular/angular-ui-bootstrap.min.js"></script>
    <script src="/js/base64.min.js"></script>
    <script src="/scripts/urls.js"></script>
    <script src="/scripts/status.js"></script>
    <script src="/scripts/users.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/angular-http-auth.js"></script>

    <script lang="text/javascript">
                                    function UserProfile($scope, user, status, $http, urls) {
                                        $scope.allUsers = [];
                                        $scope.users = [];
                                        $scope.password = '';
                                        $scope.repeatPassword = '';

                                        user.get().success(function(user) {
                                            $scope.user = user;
                                            if (user.created) {
                                                $scope.user.date = new Date(user.created)
                                            }
                                        }).error(status.errorHandler);

                                        $scope.save = function() {
                                            if (!$scope.user.displayName) {
                                                status.problem = "Display name not set";
                                            } else if ($scope.user.displayName.length < 3) {
                                                status.problem = "Display name too short";
                                            } else {
                                                user.setDisplayName($scope.user.displayName).success(function(res) {
                                                    status.success = res.updated + " records updated";
                                                });
                                            }
                                        }

                                        $scope.deauthorize = function(whom) {
                                            console.log("DEAUTHORIZE " + whom)
                                            var name = $scope.selected;

                                            $http.post(urls.userPath (user.name, 'deauthorize/' + whom), '').success(function(upd) {
                                                console.log('DEAUTH RESULT ', upd)
                                                status.success = 'Updated ' + JSON.stringify(upd.updated);
                                                $scope.user.authorizes.push($scope.idForDisplayName[name]);
                                                var ix = $scope.user.authorizes.indexOf($scope.idForDisplayName[name]);
                                                if (ix >= 0) {
                                                    remove($scope.user.authorizes, ix, ix);
                                                }
                                                loadSharers();
                                            }).error(status.errorHandler).error(function(er) {
                                                console.log(er)
                                            });
                                        }

                                        $scope.authorize = function() {
                                            var name = $scope.selected;
                                            var id = $scope.idForDisplayName[name]
                                            console.log("AUTHORIZE " + name + " as " + id);

                                            $http.post(urls.userPath(user.name, 'authorize/' + id)).success(function(upd) {
                                                status.success = 'Updated ' + JSON.stringify(upd.updated);
//                    status.success = 'Updated ' + upd.updated;
                                                $scope.user.authorizes.push($scope.idForDisplayName[name]);
                                            }).error(status.errorHandler);
                                        }

                                        $scope.changePassword = function() {
                                            if ($scope.password !== $scope.repeatPassword) {
                                                return status.problem = 'Passwords do not match';
                                            }
                                            if ($scope.password.length < 5) {
                                                return status.problem = 'Password too short';
                                            }
                                            console.log('Set password to "' + $scope.password + "'")
                                            user.setPassword($scope.password).success(status.successHandler).error(status.errorHandler);
                                        }

                                        $http.get(urls.path("all")).error(status.errorHandler).success(function(items) {
                                            $scope.allUsers = items;
                                            $scope.userForId = {};
                                            $scope.idForDisplayName = {};
                                            items.forEach(function(item) {
                                                $scope.users.push(item.displayName || item.name);
                                                $scope.userForId[item._id] = (item.displayName || item.name);
                                                $scope.idForDisplayName[item.displayName] = item._id;
                                            });
                                            console.log('USERS: ', $scope.users)
                                        });

                                        $scope.sharers = [];
                                        function loadSharers() {
                                            $http.get(urls.path('sharers')).success(function(sharers) {
                                                $scope.sharers = sharers;
                                            })
                                        }
                                        loadSharers();
                                    }

                                    function remove(arr, from, to) {
                                        var rest = arr.slice((to || from) + 1 || arr.length);
                                        arr.length = from < 0 ? arr.length + from : from;
                                        return arr.push.apply(this, rest);
                                    }
    </script>
</body>
</html>
