<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
<html lang="en">
    <head>
        <title>Surveys</title>
        <meta name="DC.author" content="Tim Boudreau" />
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/default.css" rel="stylesheet">
        <link href="/js/jquery-ui/css/smoothness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
        <!--[if lte IE 8]>
            <script>
            // The ieshiv takes care of our ui.directives, bootstrap module directives and
            // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
            // However, IF you have custom directives (yours or someone else's) then
            // enumerate the list of tags in window.myCustomTags

            window.myCustomTags = [ 'yourDirective', 'somebodyElsesDirective' ]; // optional
            </script>
            <script src="/js/angular-ui-ieshiv.min.js"></script>
        <!--[if lte IE 8]>
          <script>
            document.createElement('ng-app');
            document.createElement('ng-repeat');
            document.createElement('ng-show');
            document.createElement('ng-controller');
            document.createElement('ng-click');
     
            // Optionally these for CSS
            document.createElement('ng:include');
            document.createElement('ng:pluralize');
            document.createElement('ng:view');
          </script>
        <![endif]-->          

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/ico/favicon.ico"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png"/>
        <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png"/>
    </head>
    <body ng-app="surveys" ng-controller="Status">
        <div class='contentBody' ng-controller="User">
            <ng-include src="'/partials/topNav.html'"></ng-include>

            <div id='contentBody' class='container'>
                <div class="row">
                    <div class="span3">
                        <img src="/images/logo.svg" />
                    </div>
                    <div class='span9'>
                        <div class='hero-unit well' ng-controller="TestController">
                            <h2>Thingamabob</h2>
                            <p>
                                That's right, it's a thingamabob.  Whatev.
                            </p>
                            <a class='btn' href='surveys.html'>My Surveys</a>
                            <a class='btn' href='newsurvey.html'>New Survey</a>

                            &nbsp; &nbsp;

                            <a class='btn' ng-click="bad()" href='#'>Test Problem</a>
                            <a class='btn' ng-click="good()" href='#'>Test Success</a>
                            <a class='btn' ng-click="clear()" href='#'>Test Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <ng-include src='"/partials/bottom.html"'></ng-include>
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap-modal.min.js"></script>
    <script src="/bootstrap/js/bootstrap-dropdown.min.js"></script>
    <script src="/js/jquery-ui/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular/angular-cookies.min.js"></script>
    <script src="/js/angular-ui.js"></script>
    
    <script src="/scripts/angular-http-auth.js"></script>
    <script src="/angular/angular-ui-bootstrap.min.js"></script>
    <script src="/js/base64.min.js"></script>
    <script src="/scripts/urls.js"></script>
    <script src="/scripts/status.js"></script>
    <script src="/scripts/users.js"></script>
    <script src="/scripts/app.js"></script>

    <script lang="text/javascript">
        function TestController($scope, status) {
            $scope.bad = function() {
                status.problem = "Oh no!";
            }
            $scope.good = function() {
                status.success = "We have liftoff";
            }
            $scope.clear = function() {
                status.problem = null;
                status.success = null;
            }
        }
    </script>
</body>
</html>
